/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
pre, code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Ensure the body takes up full viewport height and handles overflow */
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
} body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

  /* desktop Header Styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
/* Container */
.container{
    width: 100%;
    margin: auto 0;
    display: flex;
    padding: 20px;
  }

/**destkop image container***/
.image-container, img {
  width: 100%;
  height: 200px; /* Adjust this to control the height of your slice */
  overflow: hidden;
  margin-top: 0px;
}

.sliced-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 55%; /* Adjust this to control which part of the image is shown */
  margin: auto 0;
  padding: 0px;
}
/****navbar****/
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
  }
/**navcolumn1 desktop **/

.navcolumn1 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
  }
  /**navcolumn2desktop **/
  
.navcolumn2{
    width: 20%;
    padding: 5px;
    padding-left: 2px;
    display: flex;
    gap: 20px;
  }
.navcolumn2 h1 {
    font-size: 1.10em;
  }
.navcolumn2 p {
    font-size: .86em;
    font-weight: 200;
    
  }
.navcolumn2 img {
      width: auto;
      height: 40px;
      padding-inline: 5px;
      position: bottom;
}   
/**navcolumn3 desktop **/
.navcolumn3{
    padding: 5px;
    width: 30%;
    font-size: 2.4em;
}
    /**navcolumn4 desktop **/
.navcolumn4 {
    padding: 5px;
    width: 12%;   
  }
  
  .navcolumn4 img {
    width: 100%;
    height: auto;
  }
  .navcolumn4 h1 {
    font-size: 1.57em;
    border: 1.5px solid black;
    padding: 5px;
    display: inline-block;
    font-weight: 300;
  }
  /********** Banner Box Desktop ******/
  .bannerbox {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; /* Adjust the gap as needed */
    padding: 20px;
    font-family:  monospace;
    padding-left:20px ;
    width: 100%;
  }

  
  
/**********  Portfolio Grid Desktop ***************************************/
/* Portfolio Grid */
.portbox {
  width: 80%;
  margin: auto 0;
  align-items: center;
  padding: 20px;
}

.portbox h1 {
  font-size: 1.9em;
  width: 80%;
  padding: 10px;
  margin: 0;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  width: 100%;
  
}

.portfolio-grid h1 {
  font-size: 1.4em;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: white;
  border-radius: 8px;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.portfolio-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.portfolio-item:hover img {
  filter: grayscale(0%);
}

.portfolio-item p {
  margin: 10px;
  text-align: center;
  font-weight: 300;
  color: #fff;
  background-color: #000;
  padding: 10px;
}

/******** portfolio end desktop*******/


/****** about desktop ****/
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust spacing between columns */
  padding: 20px;
  width: 100%;
  background-color: aqua;
  }

.about-left {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 20px;
  width: 20%;
}

.about-left-row {
  flex: 1;
  /* Add styles for each row as needed */
  padding-bottom: 20px;
}

.about-left-row2 {
  flex: 1;
  /* Add styles for each row as needed */
  padding-bottom: 20px;
}
.about-left-row img {
  width: 50px;
  height: auto;
  }

.about-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  float: right;
  padding: 20px;
  width: 80%;
}

.about-right-row {
  flex: 1;
  /* Add styles for each row as needed */
}
.about-right-row h1 {
  font-size: 2.8em;
  margin: auto;
}
.about-right-row p {
  font-size: 1.1em;
  width: 80%;
  display: inline-block;
}

/*** expertise */
.expertise {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust spacing between columns */
  padding: 20px;
  width: 100%;
  background-color: #e2dede75;
  }

.expertise-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  float: left;
  padding: 20px;
  width: 80%;
}

.expertise-left-row {
  flex: 1;
  /* Add styles for each row as needed */
  padding-bottom: 20px;
}
.expertise-left-row h1{
  font-size: 2em;
  color: #666;
  padding-top: 60px;
}

.expertise-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  float: right;
  padding: 20px;
  width: 80%;
}

.expertise-right-row {
  flex: 1;
  /* Add styles for each row as needed */
  border-top: dashed 1px black;

}
.expertise-right-row h1 {
  font-size: 1.2em;
  font-weight: ;
}

.expertise-right-row p {
  font-size: 1.1em;
  width: 80%;
  display: inline-block;
  font-weight: 400;
}


/**res desktop **/
  .resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    background-color: #e2dede75;
  }
  
  .left-column, .right-column {
    flex: 1;
    padding: 10px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  h3 {
      font-size: 2.5em;
      padding-bottom: 0px;
  }
  .row h3, p {
    padding-left: 40px;
  }
  .row h4 , a {
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 5px;
    font-size: 1.2 em;
    border-radius: 15px;
    text-decoration: none;
    margin: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }

  /******************** footer desktop ****/
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: auto 0;
    width: 100%;
    height: 400px;
  }
  .footer p{
    font-size: 1em;

  }



  /* Mobile Responsive Styles ----------------------------------------------------------------------------------------------------- */
  @media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
/* Your iPhone 12 Pro Max specific styles go here */
/* Global Styles for iPhone 12 Pro Max */
/* Global Styles for iPhone 12 Pro Max */
/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* mobile Header Styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Container */
.container {
  width: 100%;
  margin: auto 0;
  display: flex;
  padding: 20px;
}

/* mobile image container */
.image-container, img {
  width: 100%;
  height: 200px; /* Adjust this to control the height of your slice */
  overflow: hidden;
  margin-top: 0px;
}

.sliced-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 55%; /* Adjust this to control which part of the image is shown */
  margin: auto 0;
  padding: 0px;
}

/* Navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
}

/* Nav columns (mobile) */
.navcolumn1 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
}

.navcolumn2 {
  width: 20%;
  padding: 5px;
  padding-left: 2px;
  display: flex;
  gap: 20px;
}

.navcolumn2 h1 {
  font-size: 1.10em;
}

.navcolumn2 p {
  font-size: 0.86em;
  font-weight: 200;
}

.navcolumn2 img {
  width: auto;
  height: 40px;
  padding-inline: 5px;
  position: bottom;
}

.navcolumn3 {
  padding: 5px;
  width: 30%;
  font-size: 2.4em;
}

.navcolumn4 {
  padding: 5px;
  width: 12%;
}

.navcolumn4 img {
  width: 100%;
  height: auto;
}

.navcolumn4 h1 {
  font-size: 1.57em;
  border: 1.5px solid black;
  padding: 5px;
  display: inline-block;
  font-weight: 300;
}

/* Banner Box mobile */
.bannerbox {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; /* Adjust the gap as needed */
  padding: 20px;
  font-family: monospace;
  padding-left: 20px;
  width: 100%;
}


@media only screen 
and (device-width: 428px) 
and (device-height: 926px) 
and (-webkit-device-pixel-ratio: 3) {
/* Your iPhone 12 Pro Max specific styles go here */
/* Global Styles for iPhone 12 Pro Max */
/* Global Styles for iPhone 12 Pro Max */
/* Global Styles */
/* Mobile About Section */
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust spacing between columns */
  padding: 20px;
  width: 100%;
  background-color: aqua;
}

.about-left {
  display: none;
  flex-direction: column;
  float: left;
  padding: 20px;
  width: 20%;
}

.about-left-row {
  flex: 1;
  /* Add styles for each row as needed */
  padding-bottom: 20px;
  display: none;
}

.about-left-row2 {
  flex: 1;
  /* Add styles for each row as needed */
  padding-bottom: 20px;
  display: none;
}

.about-left-row2 img {

  display: none;
}
/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .about-left-row2 {
    display: none;
  }
}
.about-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  float: right;
  padding: 20px;
  width: 80%;
}

.about-right-row {
  flex: 1;
  /* Add styles for each row as needed */
}

.about-right-row h1 {
  font-size: 2.8em;
  margin: auto;
}

.about-right-row p {
  font-size: 1.1em;
  width: 80%;
  display: inline-block;
}

/* Expertise */
.expertise {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust spacing between columns */
  padding: 20px;
  width: 100%;
  background-color: #e2dede75;
}

.expertise-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  float: left;
  padding: 20px;
  width: 80%;
}

.expertise-left-row {
  flex: 1;
  /* Add styles for each row as needed */
  padding-bottom: 20px;
}

.expertise-left-row h1 {
  font-size: 2em;
  color: #666;
  padding-top: 60px;
}

.expertise-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  float: right;
  padding: 20px;
  width: 80%;
}

.expertise-right-row {
  flex: 1;
  /* Add styles for each row as needed */
  border-top: dashed 1px black;
}

.expertise-right-row h1 {
  font-size: 1.2em;
  font-weight: ;
}

.expertise-right-row p {
  font-size: 1.1em;
  width: 80%;
  display: inline-block;
  font-weight: 400;
}

/* Resume */
.resume {
  display: flex;
  flex-direction: row;
} 



@media screen and (max-width: 768px) {
  .portbox {
    width: 90%;
  }

  .portbox h1 {
    width: 100%;
    font-size: 1.6em;
  }

  .portfolio-grid {
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
  }

  .portfolio-grid h1 {
    font-size: 1.2em;
    
  }
/*mobile **/
  .portfolio-item {
  width: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: white;
  border-radius: 8px;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
  }

  .portfolio-item:hover {
    transform: translateY(-5px);
  }
  
  .portfolio-item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    }
  .portfolio-item:hover img {
    filter: grayscale(0%);
  }
  
  @media screen and (max-width: 768px) {
    .portcolumn {
        flex: 100%;
    }
}
/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .responsive-column {
    flex: 0 0 100%; /* Full width for single column on mobile */
  }
}

  }