/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  
/* Container */
.container{
    width: 80%;
    margin: auto 0;
    display: flex;
  }
/****navbar****/
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #c54031;
  }
/**navcolumn1 desktop **/
  .navcolumn1 img {
    width: 60px;
    height: auto;
    padding-left: 10px;
  }
  
  .navcolumn1 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
  }
  /**navcolumn2desktop **/
  
  .navcolumn2{
    width: 15%;
    padding: 10px;
  }
  .navcolumn2 h1 {
    font-size: .46em;
  }
  .navcolumn2 p {
    font-size: .46em;
  }

  /**navcolumn3 desktop **/

  
  .navcolumn3{
    padding: 10px;
    width: 40%;

  }
  
  /**navcolumn4 desktop **/

  .navcolumn4 {
    padding: 10px;
    width: 10%;
    
  }
  
  .navcolumn4 img {
    width: 100%;
    height: auto;
  }
  .navcolumn4 h1 {
    font-size: .7em;
    border: 1.5px solid black;
    padding: 5px;
    display: inline-block;
    font-weight: 300;
  }
  
/***************/
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Main Content Styles */
.main {
    padding: 20px;
  }
  /*Section CSS >> Javascript code is what makes the text appear and dissapear in the .section divs */
  .section {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .section p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .section.active p {
    opacity: 1;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  
  .reveal-content {
    position: relative;
    top: 300px; /* Match hero height */
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  

  /* Mobile Responsive Styles ----------------------------------------------------------------------------------------------------- */
  @media (max-width: 768px) {
    .column {
        flex: 0 0 100%; /* Make each column take up the full width on very small screens */
      }

  /* Mobile Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .navbar {
      justify-content: center;
    }
  }
}