.body {
max-width: 100%;
margin-left: 0px ;
padding-left: 0px;
background: url() no-repeat 40% 0;
background-color: #bac0c0;

}


.container {
    width: 100%;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 200px;
    margin-left: 0px; 
    margin: em auto; 
    max-width: 100%;
    min-width: 300px;
    background-color: #bac0c0;
  
  }
    


.header {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Aligns elements horizontally */
    align-items: center; /* Aligns elements vertically */
    padding-left: 0px;
    margin-left: 0px;
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  }
  
  .name {
    font-size: 24px;
    margin-right: auto; /* Adds space to the right */
  }
  
  .menu ul {
    display: flex;
  }
  
  .menu {
    display: flex;
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    display: flex;

    margin-left: 10px; /* Adds space between menu items */
  }
  
  .menu li a {
    display: flex;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    display: inline-block;
  }
  
  .menu li a:hover {
    display: flex;

  }
  